OLLAMA_MODEL_VERSION=qwen2.5:7b #llama3.2:3b

OPENAI_API_KEY=coloque aqui sua API_KEY
OPENIA_MODEL_VERSION=gpt-4o-mini
#          "llama3.2:1b"  #1.3GB
#          model: "llama3.3:70b" 45GB
#          model: "olmo-3:7b" 4.5GB
#          temperature: 0.7
#          maxTokens: 1024
GEMMA_MODEL_VERSION=ai/gemma3
GEMMA_BASE_URL=http://localhost:12434/engines

DB_H2_URL_CONFIG=jdbc:h2:file:./data/h2-chat-memory;DB_CLOSE_ON_EXIT=FALSE;AUTO_RECONNECT=TRUE
DB_H2_HIRAKI_URL_CONFIG=jdbc:h2:file:./data/h2-chat-memory
DB_H2_USERNAME=sa
DB_H2_PASSWORD=

CLASSPATH_DB_SCHEMA=classpath:db/chat-memory-schema.sql
CLASSPATH_DB_SCHEMA_RAG=classpath:db/schema-rag.sql

LOGGING_PATTERN_CONSOLE="%green(%d{HH:mm:ss.SSS}) %blue(%-5level) %red([%thread]) %yellow(%logger{15}) - %msg%n"

QDRANT_HOST=localhost
COLLECTION_NAME=documentos